<footer class="row middle-xs center-xs">

  <style>
  .scaledown {
      transform: scale(0.35, 0.35);
      -ms-transform: scale(0.35, 0.35);
      -webkit-transform: scale(0.35, 0.35);
  }
  </style>

  {{ if .Site.Params.facebook }}
    <div class="col-xs-3 col-md-2"><a target="_blank" rel="noopener" href="https://facebook.com/{{ .Site.Params.facebook }}">{{ i18n "facebook" }}</a></div>
  {{ end }}

  {{ if .Site.Params.github }}
    <div class="col-xs-3 col-md-2"><a target="_blank" rel="noopener" href="https://github.com/{{ .Site.Params.github }}">{{ i18n "github" }}</a></div>
  {{ end }}

  {{ if .Site.Params.linkedin }}
    <div class="col-xs-3 col-md-2"><a target="_blank" rel="noopener" href="https://linkedin.com/in/{{ .Site.Params.linkedin }}"><!---<img {{ if .Site.Params.lazyLoading }}data-src="{{ .Site.Params.linkedinlogo }}" lazyload="on"{{ else }}src="{{ .Site.Params.linkedinlogo }}"{{ end }} alt="{{ .Site.Title }}" class="scaledown home-logo {{ if .Site.Params.lazyLoading }}lazyload{{ end }}">--><img class="scaledown" src="{{ .Site.Params.linkedinlogo }}"></a></div>
  {{ end }}

  {{ if .Site.Params.twitter }}
    <div class="col-xs-3 col-md-2"><a target="_blank" rel="noopener" href="https://twitter.com/{{ .Site.Params.twitter }}">{{ i18n "twitter" }}</a></div>
  {{ end }}

  {{ if or (.Site.Params.copyright) (.Site.Params.credit) }}
    <div class="col-xs-12">
      {{ if .Site.Params.copyright }}
      {{ i18n "copyright" }} &copy; {{ now.Format "2006" }} {{ .Site.Title }}.
      {{ end }}
      {{ if .Site.Params.credit }}
        <a href="https://tomanistor.com" target="_blank" rel="nofollow">{{ i18n "themeDevelopedBy" }} Toma Nistor</a>
      {{ end }}
    </div>
  {{ end }}

</footer>
